#outPopUp{
     position:absolute;
     width:500px;
     height:200px;
     z-index:15;
     top:50%;
     left:50%;
     margin:-100px 0 0 -150px;
}

#outPopUp1{
     position:absolute;
     width:550px;
     height:600px;
     z-index:15;
     top:1%;
     left:50%;
     margin:-0px 0 0 -150px;
     
     
}