@(users: List[Users], taskForm: Form[Choice])

@import views.html.helper._

<html>
    <head>
    <title>Select your choice!</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/style4.css")"/>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        
    <link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/select2.css")"/>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.8.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/select2.js")"></script>
     <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.validate.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/index.js")"></script>
   
        
        <script type="text/javascript">
        $(document).ready(function() {
            $("#u_name").select2();   
        });
        
        </script>
        
        <script type="text/javascript">
        
        
        </script>
        
        <style type="text/css">
       
  </style>
  
        
    </head>
	<!-- <body background="@routes.Assets.at("images/choice.jpg")"> -->
	
	<body>
	
	<div id="outPopUp">
  <h2>Please Select your choice!!</h2>
    @form(routes.Application.doReview(), 'id -> "doReview", 'name -> "doReview") {
    	
    	<h3>@users.size() user(s) found!!</h3>
    	
    	
	Please Select a User....
	<select required style="width:200px" name="u_name" id="u_name" size=@users.size() onchange="hideError();">
        @for(user <- users) {
            <option value = @user.user_id>
                @user.username
            </option>
        }
        </select><p id="h1img" style="display:none;">
         <img src="@routes.Assets.at("images/valid.png")"  height="22" width="22" alt="Correct" title="Correct"></p>
        <br/>
        <p id="h1" style="display:none; color:red;" ><b>Please Select a User!</b></p>
        
        <br/>
        <br/>
        <br/>
 
 <label>
  <input type="radio" required name="choice" id="choice" value="1" onclick="hidemsg();" />
  <img src="@routes.Assets.at("images/twitter.jpg")"  height="42" width="42" alt="Twitter" title="Twitter">
</label>
        
 
 <label>
  <input type="radio" required  name="choice" id="choice" value="2" onclick="hidemsg();" />
  <img src="@routes.Assets.at("images/Q.png")"  height="42" width="42" alt="Quora" title="Quora">
</label>
 
 <label>
  <input type="radio" required  name="choice" id="choice" value="3" onclick="hidemsg();" />
  <img src="@routes.Assets.at("images/gr.png")"  height="42" width="42" alt="Goodreads" title="Goodreads">
</label>

<label>
  <input type="radio" required  name="choice" id="choice" value="4" onclick="hidemsg();"/>
  <img src="@routes.Assets.at("images/bio.png")"  height="42" width="42" alt="Show User Bio" title="Show User Bio">
</label>
<label>

<label>
  <input type="radio" required  name="choice" id="choice" value="5" onclick="hidemsg();"/>
  <img src="@routes.Assets.at("images/searchTxt.png")"  height="42" width="42" alt="Search Text" title="Search Text">
</label>

<label>
  <input type="radio" required  name="choice" id="choice" value="6" onclick="hidemsg();"/>
  <img src="@routes.Assets.at("images/searchFriend.png")"  height="42" width="42" alt="Search Friend" title="Search Friend">
</label>
<label>

<p id="h2img" style="display:none;">
         <img src="@routes.Assets.at("images/valid.png")"  height="22" width="22" alt="Correct" title="Correct"></p>
         </label>
<br/>
<p id="h2" style="display:none; color:red;" ><b>Please Select an option!</b></p>
    
      
       <br/>
        <br/>
       
        
         <div id="container_buttons" style=" padding-left : 150px;">
                    <p>
                        <a class="a_demo_four" href="#" onclick="formValidator();">
                            Submit
                        </a>
                    </p>
                    </div>
        
    }
    </div>
    </body>
